* {box-sizing: border-box; margin:0; padding:0; font-family: 'Fira Code', Consolas, 'Courier New', monospace; scroll-behavior: smooth;}
body {background: #1a1a1a; color: #fff; height: 100vh; display: flex;}

.sidebar {min-width: 180px; max-width: 220px; background: #0f0f0f; border-right: 1px solid #333; display: flex; flex-direction: column; padding: 20px;}

.sidebar-buttons {display: flex; justify-content: center; margin-top: auto; gap: 8px;}
.sidebar-buttons button {flex-wrap: wrap; margin-top: 5px; padding: 5px; background: transparent; border: none; cursor: pointer; transition: transform 0.2s ease; display: flex; align-items: center; justify-content: center;}

.flag {width: 32px; height: 32px; object-fit: cover; vertical-align: middle; transition: transform 0.2s ease;}

.explorer-title {font-weight: bold; margin: 8px 0; font-size: 90%; letter-spacing: 1px; opacity: 0.8; text-transform: uppercase;}

.file-explorer {flex: 1; color: white; overflow-y: auto; flex-direction: column;}
.file, .folder {padding: 4px 10px; font-size: 75%; border-radius: 4px; display: flex; align-items: center; gap: 6px; cursor: pointer; letter-spacing: 1px; transition: 0.2s;}
.file:hover, .file.active {background: #333;}
.folder {text-transform: uppercase;}

.file-explorer::-webkit-scrollbar {width: 8px;}
.file-explorer::-webkit-scrollbar-track {background: #0f0f0f;}
.file-explorer::-webkit-scrollbar-thumb {background: #555; border-radius: 4px;}
.file-explorer::-webkit-scrollbar-thumb:hover {background: #777;}

.folder {font-weight: bold; display: flex; align-items: center; gap: 4px; opacity: 0.8;}

.indent {margin-left: 16px;}
.icon {width: 14px; text-align: center;}

.content {flex: 1; padding: 20px; overflow-y: auto;}
.content > div {display: none;}
.content > div.active {display: block;}

.content img {max-width: 100%; border-radius: 8px; margin-bottom: 16px;}
.content video {max-width: 100%; border-radius: 8px; margin-bottom: 16px;}

.content h1 {font-size: 200%}
.content h2 {font-size: 170%}
.content h3 {font-size: 150%}
.content h4 {font-size: 120%}
.content p {font-size: 100%}

.content hr {background-color: #6c6c6c; height: 1px; border: none;}

.avatar {aspect-ratio: 1 / 1; width: 100%; height: 25%; border-radius: 16px; background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #fff; background-image: url(./content/Koishem_avatar_old_eyebrows.png)}

.menu-toggle {display: none; position: fixed; top: 10px; right: 10px; z-index: 1000; background: #333; color: #fff; border: none; padding: 8px 12px; border-radius: 4px; cursor: pointer;}

.sidebar-buttons button:hover {transform: scale(1.2);}

@media (max-width: 768px) {
    .menu-toggle{display: block;}

    .sidebar {position: fixed; top: 0; right: -100%; height: 100%; width: 220px; transition: right 0.3s ease; z-index: 999;}

    .sidebar.active {right: 0;}

    body {flex-direction: column;}

    .content {padding: 10px}
}
  